<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>みんなの税理士相談所</title>
  <link rel="stylesheet" href="../totop_site/css/reset.css">
  <link rel="stylesheet" href="../totop_site/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script async src="../totop_site/js/index.js"></script>
</head>
<body>
<div class="wrapper">
  <header>
    <img src="../totop_site/images/logo.png" alt="logo" class="logo" />
    <div id="nav-toggle">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div id="gloval-nav">
      <nav>
        <ul id="nav-links">
          <li><a href="#about_us">みんなの税理士相談所とは？</a></li>
          <li><a href="#business">税理士に相談できる業務</a></li>
          <li><a href="#flow">サービスご利用の流れ</a></li>
          <li><a href="#voice">ご利用者様の声</a></li>
          <li><a href="#qa">よくあるご質問</a></li>
          <li><a href="#contact">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="hero">
    <img src="../totop_site/images/top.png" alt="top" class="top_pc" />
    <img src="../totop_site/images/sp/top.png" alt="top" class="top_sp" />
  </div>
  <div class="bg-gray">
    <div class="section about_us" id="about_us">
      <div class="left">
        <div class="left-top">
          <h1><span class="blue">みんなの<br />税理士相談所</span>とは？</h1>
          <p>About us</p>
        </div>
        <p class="left-bottom">
          みんなの税理士相談所は相談者様の悩みを的確に解消し、<br />
          満足いただけるサポートをさせていただいております。<br />
          「こんなこと頼んでいいのかな？」<br />
          「今の顧問税理士は少し高いな…」<br />
          など些細なことでもお気軽にご相談ください。<br />
        </p>
      </div>
      <div class="right">
        <img src="../totop_site/images/about.jpg" alt="about">
      </div>
    </div>

    <div class="section points">
      <div class="point">
        <h2 class="point-top">Point!<div class="line line-horizontal"></div></h2>
        <div class="line"></div>
        <div class="point-content">
          今すぐ<br />
          <span class="light-blue">無料</span>でご相談<br />
          いただけます<br />
        </div>
      </div>
      <div class="point">
        <h2 class="point-top">Point!<div class="line line-horizontal"></div></h2>
        <div class="line"></div>
        <div class="point-content">
          税務の<br />
          <span class="light-blue">プロ</span>が<br />
          紹介します<br />
        </div>
      </div>
      <div class="point">
        <h2 class="point-top">Point!<div class="line line-horizontal"></div></h2>
        <div class="line"></div>
        <div class="point-content">
          <span class="light-blue">全国</span>の<br />
          税理士を<br />
          紹介できます<br />
        </div>
      </div>
    </div>

    <div class="section contact_us">
      <h2 class="contact_us-top">
        まずはお気軽に<br />
        お問い合わせください
      </h2>
      <a class="contact_us-bottom" href="#contact">
        今すぐ無料相談
      </a>
    </div>

    <div class="section reason">
      <h2>みんなの税理士相談所が<br />選ばれる理由</h2>
      <p>Reason</p>
      <div class="reason-content">
        <div class="reason-icon-outer">
          <div class="reason-icon">
            <div>理由</div>
            <div class="reason-icon-num">1</div>
          </div>
        </div>
        <h3>無料でご相談いただけます</h3>
        <p>
          どんな些細な悩みでも、利用回数や紹介人数に制限がなく、手数料など完全無料でご相談いただけます。最短で当日のご紹介が可能となってなっております。
        </p>
      </div>

      <div class="reason-content">
        <div class="reason-icon-outer">
          <div class="reason-icon">
            <div>理由</div>
            <div class="reason-icon-num">2</div>
          </div>
        </div>
        <h3>幅広い分野に対応可能です</h3>
        <p>
          税理士事務所、コンサルティングファーム、M&Aアドバイザリーファームに所属していたメンバーで構成されているので通常の税務業務に加え、設立支援からコンサルティング、M&A等幅広く対応可能です。
        </p>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="section business" id="business">
      <h2>税理士に<br />相談できる業務</h2>
      <p>Business</p>
      <div class="business-boxes">
        <div class="box">
          <img src="../totop_site/images/zigyou.png" alt="zigyou"/>
          <h2>事業継承・M&A</h2>
          <p>
            親族内承継から株式譲渡・事業譲渡など様々なパターンをサポートします
          </p>
        </div>
        <div class="box">
          <img src="../totop_site/images/komon.png" alt="komon"/>
          <h2>顧問税理士</h2>
          <p>顧問契約を結んだ事業者の会計や税務に関わるさまざまなサポートをします</p>
        </div>
        <div class="box">
          <img src="../totop_site/images/kakutei.png" alt="kakutei"/>
          <h2>確定申告</h2>
          <p>青色申告・白色申告・贈与税・消費税の申告など様々な税金の確定申告を依頼できます</p>
        </div>
        <div class="box">
          <img src="../totop_site/images/kaisya.png" alt="kaisya"/>
          <h2>会社設立</h2>
          <p>会社の種類や設立の流れ・費用・注意点など会社設立の基礎を支援します</p>
        </div>
        <div class="box">
          <img src="../totop_site/images/shikin.png" alt="shikin"/>
          <h2>資金調達</h2>
          <p>創業融資や運転資金、補助金・助成金などサポートします</p>
        </div>
        <div class="box">
          <img src="../totop_site/images/keiei.png" alt="keiei"/>
          <h2>経営コンサル</h2>
          <p>資金繰り・業績見通し・決算予測など財務関係の指導をします</p>
        </div>
        <div class="box">
          <img src="../totop_site/images/keiri.png" alt="keiri"/>
          <h2>経理・決算</h2>
          <p>減価償却・給与計算などのよくあるお悩みを解決します</p>
        </div>
        <div class="box">
          <img src="../totop_site/images/zeimu.png" alt="zeimu"/>
          <h2>税務調査</h2>
          <p>納税者が正しく税金を納めているかを確認するための調査です。毎年多くの納税者が追尾課税と呼ばれるペナルティが徴収されるのを防ぎます</p>
        </div>
        <div class="box">
          <img src="../totop_site/images/zinji.png" alt="zinji"/>
          <h2>人事労務</h2>
          <p>人事労務のコンサルティングや手続き代行を行います</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray">
    <div class="section flow" id="flow">
      <h2>サービス<br />ご利用の流れ</h2>
      <p>Flow</p>
      <div class="flow-content">
        <div class="num">
          1
        </div>
        <div class="body">
          <h3>お問い合わせ</h3>
          <p>
            まずはお問い合わせフォームよりご連絡ください。 詳しい条件をお聞かせいただくための電話ヒアリングの スケジュール調整を行わせていただきます。
          </p>
        </div>
      </div>
      <div class="flow-arrow"></div>
      <div class="flow-content">
        <div class="num">
          2
        </div>
        <div class="body">
          <h3>詳しい条件のヒアリング</h3>
          <p>
            弊社の専門スタッフにお客様のご希望を詳しくお聞かせください。 税理士に依頼する具体的な業務の調整を行います。 3営業日以内に、こちらから税理士事務所ご提案のご連絡をいたします。
          </p>
        </div>
      </div>
      <div class="flow-arrow"></div>
      <div class="flow-content">
        <div class="num">
          3
        </div>
        <div class="body">
          <h3>税理士事務所のご提案</h3>
          <p>
            ヒアリングを元にお客様に合った税理士事務所を複数ご提案いたします。 税理士事務所の情報や、費用の見積もりもご確認いただけます。 また、ご提案したものの中で決めるのが難しい場合は追加のご提案も可能ですので お気軽にご相談ください。
          </p>
        </div>
      </div>
      <div class="flow-arrow"></div>
      <div class="flow-content">
        <div class="num">
          4
        </div>
        <div class="body">
          <h3>税理士事務所と面談</h3>
          <p>
            ご提案後、お客様が選んだ税理士事務所（複数可）と実際に面会して お打ち合わせをしていただき、業務範囲と実際にかかる費用の確認を 行っていただきます。
          </p>
        </div>
      </div>
      <div class="flow-arrow"></div>
      <div class="flow-content">
        <div class="num">
          5
        </div>
        <div class="body">
          <h3>税理士事務所の決定</h3>
          <p>
            業務を依頼する税理士事務所が決まりましたら、 みんなの税理士相談所までご連絡ください。3営業日以内に 税理士事務所からお客様に契約についてのご連絡を差し上げます。
          </p>
        </div>
      </div>
      <div class="flow-arrow"></div>
      <div class="flow-content">
        <div class="num">
          6
        </div>
        <div class="body">
          <h3>ご契約</h3>
          <p>
            お客様にお選びいただいた税理士事務所と契約を結んで終了です。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="section voice" id="voice">
      <h2>ご利用者様の声</h2>
      <p>Voice</p>
      <div class="voice-content">
        <img src="../totop_site/images/asan.jpg" class="voice-content-img" alt="asan">
        <img src="../totop_site/images/sp/asan.png" class="voice-content-img-sp" alt="asan">
        <p class="voice-content-body-right">
          みんなの税理士相談所を利用してみましたが、とても使いやすいと感じました。まず、「税理士に相談できる業務」ではどのようなことを相談できるのかを見ることができ、自分が利用できる税理士業務を理解することができました。それにより税理士利用の不安を取り除くことができました。そして、「絞り込み」では地域や利用目的で絞ることができ、最適な税理士法人をスムーズに探すことができました。税理士法人を自ら探す面倒な手間が省けたのでとても満足しています。
        </p>
      </div>
      <div class="voice-content">
        <img src="../totop_site/images/sp/bsan.png" class="voice-content-img-sp" alt="bsan">
        <p class="voice-content-body-left">
          確定申告の書類を作成するためみんなの税理士相談所を利用しました。期限までわずかな期間しか残されておらず、できるだけ早く業務を行って欲しいと思っていました。そんな時、本ページを利用することにより素早く税理士法人を検索して詳細な情報まで入手でき、税理士法人を決定することができました。結果的に、確定申告も期限に間に合うことができ、本ページを利用してよかったと心から思っています。
        </p>
        <img src="../totop_site/images/bsan.jpg" class="voice-content-img" alt="bsan">
      </div>
    </div>

    <div class="section qa" id="qa">
      <h2>よくあるご質問</h2>
      <p>Q&A</p>
      <div class="qa-content">
        <div class="qa-content-title">
          <div class="qa-content-title-q">Q</div>
          <div class="qa-content-title-body">提案する税理士事務所はどのように選んでいるのでしょうか?</div>
        </div>
        <div class="qa-content-body">
          みんなの税理士相談所は、コンサルティング会社、M&Aアドバイザリー会社に所属していた会計士・税理士資格を有したメンバーで運営しております。そのメンバーで一定の基準を設定し、それに適した税理士事務所を選んでいます。
        </div>
      </div>

      <div class="qa-content">
        <div class="qa-content-title">
          <div class="qa-content-title-q">Q</div>
          <div class="qa-content-title-body">紹介料は本当に無料なんですか？</div>
        </div>
        <div class="qa-content-body">
          「みんなの税理士相談所」が提供するサービスには、一切料金が発生いたしません。
        </div>
      </div>
    </div>
  </div>

  <div class="bg-image">
    <div class="section contact" id="contact">
      <h2>お問い合わせ</h2>
      <p>Contact</p>
      <%= form_for(@contact, url: contact_preview_path, html: { class: 'contact-form' }) do |f| %>
        <div class="contact-content">
          <p class="contact-content-title">法人 / 個人</p>
          <p class="contact-content-must"><span>必須</span></p>
          <div class="contact-content-body contact-content-radio">
            <div>
              <%= f.radio_button :user_type, '0', {checked: true, class: 'radio-input'} %>
              <label for="contact_user_type_0">法人</label>
            </div>
            <div style="padding-top: 16px">
              <%= f.radio_button :user_type, '1', {class: 'radio-input'} %>
              <label for="contact_user_type_1">個人事業主・フリーランス</label>
            </div>
            <div style="padding-top: 16px">
              <%= f.radio_button :user_type, '2', {class: 'radio-input'} %>
              <label for="contact_user_type_2">その他個人</label>
            </div>
          </div>
        </div>
        <div class="contact-content">
          <p class="contact-content-title">お名前</p>
          <p class="contact-content-must"><span>必須</span></p>
          <div class="contact-content-body">
            <%= f.text_field :user_name, class: 'text-input', placeholder: '例）名前 太郎', required: true %>
          </div>
        </div>
        <div class="contact-content">
          <p class="contact-content-title">お電話番号</p>
          <p class="contact-content-must"><span>必須</span></p>
          <div class="contact-content-body">
            <%= f.text_field :phone_number, class: 'text-input', placeholder: '例）090-1234-5678', required: true %>
          </div>
        </div>
        <div class="contact-content">
          <p class="contact-content-title">メールアドレス</p>
          <p class="contact-content-must"><span>必須</span></p>
          <div class="contact-content-body">
            <%= f.text_field :mail_address, class: 'text-input', placeholder: '例）○○○○○○@example.co.jp', required: true %>
          </div>
        </div>
        <div class="contact-content">
          <p class="contact-content-title">都道府県</p>
          <p class="contact-content-must"></p>
          <div class="contact-content-body">
            <%= f.text_field :prefecture, class: 'text-input', placeholder: '例）東京都' %>
          </div>
        </div>
        <div class="contact-content">
          <p class="contact-content-title">市区町村</p>
          <p class="contact-content-must"></p>
          <div class="contact-content-body">
            <%= f.text_field :city, class: 'text-input', placeholder: '例）渋谷区' %>
          </div>
        </div>
        <div class="contact-content">
          <p class="contact-content-title">お問い合わせ内容</p>
          <p class="contact-content-must"></p>
          <div class="contact-content-body">
            <%= f.text_area :body, class: 'textarea-input', placeholder: '税理士に依頼したい内容、相談したい内容をお書きください', required: true %>
          </div>
        </div>
        <div class="contact-content">
          <button type="submit">送信する</button>
        </div>
      <% end %>
    </div>
  </div>

  <footer>
    <img src="../totop_site/images/logo.png" alt="logo" class="logo" />
    <p>©︎みんなの税理士相談所</p>
  </footer>

  <div class="fixed_button">
    <p class="fixed_button_call">電話で無料相談<br />0120-973-309</p>
    <a href="#contact" class="fixed_button_contact">今すぐ無料相談</a>
  </div>
</div>
</body>
</html>
